language: php
sudo: false
php:
  - "7.0"
  - "5.6"
  - "5.5"
  - "5.4"
  - "5.3"
jdk:
  - oraclejdk7
before_script:
  - ./travisci/bin/ci/setup.sh
  - composer install
after_script:
  - ./travisci/bin/ci/stop.sh