<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/stable/configuration.html -->
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertDeprecationsToExceptions="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
>
    <coverage>
        <include>
            <directory>src/</directory>
        </include>
        <exclude>
            <directory>vendor/</directory>
        </exclude>
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="stomp-php Functional Test Suite">
            <directory>tests/Functional/</directory>
        </testsuite>
        <testsuite name="stomp-php Special Test Cases Suite">
            <directory>tests/Cases/</directory>
        </testsuite>
        <testsuite name="stomp-php Unit Test Suite">
            <directory>tests/Unit/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
